* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    @media only screen and(max-width: 576px) {
        height: 100%;
        // overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

// change font-family to roboto
body {
    // font-family: $font-family-base;
    font-family: roboto-light;

    color: $color-text;
    background-color: $body-bg;

    &.content-no-padding-top {
        .content {
            padding-top: 0;
        }
    }

    &.content-no-padding-bottom {
        .content {
            padding-bottom: 0;
        }
    }
}

hr {
    height: 1px;
    background-color: #bbbbbb;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content-wrapper {
    padding-top: 0px;
    position: relative;
    z-index: 9;
}

body.homepage .content,
body.explore-jobs .content {
    @media only screen and (max-width: 992px) {
        margin-top: 0;
    }
}

.content {
    padding: 20px 0 60px;

    @media only screen and (max-width: 992px) {
        margin-top: 45px;
        margin-bottom: 0px;
    }
}

.loading-image {
    width: 100%;
    @include flexCenter;

    img {
        width: 100px;
    }
}