#breadcrumb {
    // border-bottom: 1px solid $border-line;

    ol.breadcrumb {
        background-color: #ffffff;
        border-radius: 0;
        margin-bottom: 0;
        padding-top: 25px;
        padding-bottom: 25px;

        li.breadcrumb-item {
            padding: 0 15px;

            &:first-child {
                padding-left: 0;
            }

            &::before {
                padding-right: 23px;
            }

            a {
                color: #333333;
            }
        }
    }
}