.new-footer-root {
  padding-top: 50px;
  background-color: rgba(30, 30, 30, 1);
}

.logo {
  width: 179px;
  height: auto;
}

.menu {
  margin-top: 20px;
  margin-bottom: 20px;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    position: initial;
  }

  li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    position: initial;
    color: white;
  }

}

.copyright {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  button {
    margin: 8px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 500px;
    border: none;
    background-color: grey;
  }
}