.progress-bar {
    width: 100%;
    height: 15px;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: #f5f6fa;
    position: relative;

    &:before {
        content: "";
        height: 15px;
        border-radius: $border-radius;
        overflow: hidden;
        display: block;
        background-color: $color-primary;
        transition: all 0.5s ease-in-out;
    }

    @for $i from 0 to 101 {
        &--#{$i} {
            &:before {
                width: 1% * $i;
            }
        }
    }
}
