.video-rec {
    height: 40px;
    width: 80px;
    position: relative;
    display: flex;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.11);
    transition: all .25s ease;

    &:hover {
        background-color: #f8e5e5;
    }

    &.active {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f95252;
        color: #ffffff;
        animation-name: recording_pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &__inner {
        display: flex;
        align-items: center;

        &.recording {
            .icon {
                background-color: #ffffff;
            }
        }

        &.not-recording {
            .icon {
                border-radius: 50%;
            }
        }

        .text {
            margin-right: 5px;
        }

        .icon {
            background-color: #f95252;
            width: 13px;
            height: 13px;
            display: block;

        }
    }
}