#image-list {
    overflow: hidden;
    position: relative;

    .arr {
        position: absolute;
        top: 0;
        width: 30px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        @include flexCenter;
        font-size: 35px;
        color: #6e6e6e;
        cursor: pointer;
        z-index: 9;
        transition: all .25s ease-in;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: #505050;
        }

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    #silentbox-gallery {
        width: max-content;

        .silentbox-item {
            width: 110px;
            margin: 10px;
            transition: all .9s ease;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            @media only screen and(max-width: 992px) {
                width: 100px;
                margin: 7px;
            }

            @media only screen and(max-width: 768px) {
                margin-bottom: 30px;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}