.new-auth-layout {
  width: 100vw;
  height: 100vh;



  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("~/assets/images/background-login.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__emp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("~/assets/images/bg-login.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__form {
    display: flex;
    height: 100vh;
    background-color: #ffff;
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    &__form {
      background-image: url("~/assets/images/background-login.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba($color: #000000, $alpha: 0.5);
      backdrop-filter: brightness(0.30);

    }
  }
    @media (max-width: 768px) {
      &__formemp {
        background-image: url("~/assets/images/bg-login.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba($color: #000000, $alpha: 0.5);
        backdrop-filter: brightness(0.30);
  
      }
  }
}


@media (max-width: 768px) {
  .mobile-black-screen {
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    padding: 0 5vw;
  }

  .mobile-color-white {
    color: white;
  }
}
